<app-home></app-home>

<div>
    <br>
    <div>
        <h1>Crear un nuevo destinatario</h1>
    </div>
    <form class="row g-3 needs-validation" novalidate [formGroup]="formDestinatario" (ngSubmit)="crearDestinatario()">
        <div  class="col-md-4">
            <label for="rut" class="form-label">Rut</label>
            
            <input class="form-control" type="text" formControlName="rut" id="rut" [(ngModel)]="destinatario.rut"
            name="rut" required>
        </div>
        <div  class="col-md-4">
            <label for="rut" class="form-label">Nombre</label>
            
            <input class="form-control" type="text" formControlName="rut" id="rut" [(ngModel)]="destinatario.nombre"
            name="rut" required>
        </div>
        <div  class="col-md-4">
            <label for="nombre" class="form-label">correo</label>
            <input class="form-control" type="email" formControlName="correo" id="correo" [(ngModel)]="destinatario.correo"
            name="correo" required>
        </div>
        <div  class="col-md-4">
            <label for="numTelefono" class="form-label">Telefono</label>
            
            <input class="form-control" type="text" formControlName="numTelefono" id="numTelefono" [(ngModel)]="destinatario.numTelefono"
            name="numTelefono" required>
        </div>
        <div  class="col-md-4">
            <label for="banco" class="form-label">Banco</label>
            
            
            <!--<select  class="form-select" formControlName="banco"
            id="banco" [(ngModel)]="destinatario.banco" *ngFor="let banco of bancos2">
                <option *ngFor="let bank of banco.banks"  [value]="bank.id">
                   {{bank.name}}
                </option>
            </select> -->
            <select  class="form-select" formControlName="banco"
            id="banco" [(ngModel)]="destinatario.banco">
                <option *ngFor="let banco of bancos"  [value]="banco.id">
                   {{banco.name}}
                </option>
            </select>

            
        </div>
        <div class="col-md-4">
            <label for="tipoCuenta" class="form-label">Tipo de Cuenta</label>            
            <input class="form-control" type="text"formControlName="tipoCuenta" id="tipoCuenta" [(ngModel)]="destinatario.tipoCuenta"
            name="tipoCuenta" required>
        </div>
        <div class="col-md-4">
            <label for="numeroCuenta" class="form-label">Numero de cuenta</label>
            
            <input class="form-control" type="text"formControlName="numeroCuenta" id="numeroCuenta" [(ngModel)]="destinatario.numeroCuenta"
            name="numeroCuenta" required>
        </div>
        
        <div class="col-12">
            <button class="btn btn-dark" type="submit">Crear</button>
        </div>
    </form>
</div>