<app-home></app-home>
<br>
<div>
  <h1>Busque el Destinatario</h1>
</div>
<form class="row g-3">

    <div class="col-auto">
      <input class="form-control" type="text" id="rut" name="rut"[(ngModel)]="rut">
    </div>
    <div class="col-auto">
      <button class="btn btn-dark mb-3" (click)="buscarDestinatario()">Seleccion el Rut</button>
    </div>
</form>




<div *ngFor="let desti of destinatarioSeleccionado ">
  <h3>{{title}}</h3>
  <table>
  <div>  <label>Nombre  </label><strong> {{desti.nombre}}</strong>
  </div>
  <div>  <label>Banco  </label><strong>{{nombreBanco}}</strong>
  </div>
  <div>  <label>Cuenta  </label><strong>{{desti.tipoCuenta}}</strong>
  </div>
</table>
  <form class="row g-3" >
    <div class="col-auto"><input class="form-control" type="text"
      name="monto" [(ngModel)]="monto"  required> 
      <p>{{mensajeMonto}}</p></div> <div class="col-auto"><button class="btn btn-dark mb-3" (click)="hacerTransferencia()">Transferir</button></div>
  </form>

</div>
