<app-home></app-home>
<h1>Historial de Transferencias</h1>

  
<table  class="table"
*ngFor="let historial of transferencias">
<thead  class="thead-dark">
    <tr><th scope="col">Destinatario</th>
        <th scope="col">Rut</th>
        <th scope="col">Banco</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>  
    </tr>
</thead>
<tbody>
    <tr >
        <td scope="row">{{ historial.destinatario.nombre }}</td>
        <td scope="row">{{ historial.destinatario.rut}}</td>
        <td *ngIf="historial.destinatario.banco=='0000001'" scope="row">Banco Ripley</td>
        <td scope="row" *ngIf="historial.destinatario.banco=='0000002'">Banco Desarrollo</td>
        <td scope="row" *ngIf="historial.destinatario.banco=='0000003'">Banco Estado</td>
        <td scope="row" *ngIf="historial.destinatario.banco=='0000004'">Banco Chile</td>
        <td scope="row" *ngIf="historial.destinatario.banco=='0000006'">Banco Santander</td>
        <td scope="row" *ngIf="historial.destinatario.banco=='0000007'">Banco Edwards</td>
        <td scope="row" *ngIf="historial.destinatario.banco=='0000008'">Banco BCIbe</td>
        <td scope="row">{{ historial.monto}}</td>
        <td scope="row">{{ historial.fecha}}</td>
    </tr>
</tbody>
</table>